<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>generador VLSM</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-dialog.min.css">
	<link rel="stylesheet" href="/static/css/loader/preloader.css">
	<link rel="stylesheet" href="/static/css/style.css">

	<script src="/static/js/graficas/highcharts.js"></script>
  <script src="/static/js/graficas/series-label.js"></script>
  <script src="/static/js/graficas/exporting.js"></script>
  <script src="/static/js/graficas/highcharts-3d.js"></script>
</head>
<body>
		<div class="container">
			<section class="row">
				<h2>Subneteo por VLSM</h2>
				<hr>
			</section>

			<section class="row hidden" id="tableResoult">
				<div class="container">
					<div class="col-xs-12 listHosts">
						<section class="row"></section>
						<table class="table table-hover table-striped">
	                        <thead class="text-primary">
	                        	<th>Nombre Subred</th>
	                        	<th>Hosts</th>
	                        	<th>Hosts encontrados</th>
	                        	<th>Subred</th>
	                        	<th>CIDR</th>
	                        	<th>Mascara</th>
	                        	<th class="text-center">Rangos IP's</th>
	                        	<th>Broadcast <img src="/static/img/reset.svg" class="pull-right reset reset-in-table"></th>
	                        </thead>
	                        <tbody id="cont_subnet"></tbody>
	                    </table>
					</div>
				</div>
			</section>

			<section class="row">
				
				<div class="col-md-6 col-xs-12">
					<br><strong>¿Tienes una dirección de red con la cual iniciar?</strong>
					<p>Entonces escribela como red de interés para subnetear con VLSM de acuerdo a esa red. </p>
					<br><strong>¿No tienes la menor idea de que dirección de red utilizar?</strong>
					<p>No te preocupes, simplemente omite el campo de red de interés y da inicio al llenado de la tabla de tus hosts según la subred deseada. Al terminar, se te mostrarán sugerencias de direcciones de red para subnetear por VLSM, selecciona la que más se adecúe a tus necesidades y listo.</p>
				</div>
				<div class="col-md-6 col-xs-12">
					<div class="col-xs-6 text-right">
						<label class="label-control lb">RED DE INTERÉS:</label>
					</div>
					<div class="col-xs-6"><input type="text" class="form-control" id="redint"></div>

					<div class="col-xs-12 listHosts">
						<section class="row"></section>
						<table class="table table-hover" id="tbHosts">
	                        <thead class="text-primary">
	                        	<th>Nombre Subred</th>
	                        	<th>Hosts</th>
	                        </thead>
	                        <tbody id="cont_HostTB"></tbody>
	                    </table>
	                    <table class="table">
	                        <tbody>
	                        	<tr>
	                        		<td>
	                        			<input type="text" class="form-control" placeholder="Nombre Subred*" id="inpName" value="SubR1" required>
	                        			<div class="checkbox checbox-switch switch-success">
		                                    <label>
		                                        <input type="checkbox" id="autogenSname" checked="">
		                                        <span></span>
		                                        Generar nombre subred.
		                                    </label>
		                                </div>
		                                <div class="checkbox checbox-switch switch-success">
		                                    <label>
		                                        <input type="checkbox" id="cleanHostinp">
		                                        <span></span>
		                                        Limpiar hosts.
		                                    </label>
		                                </div>
	                        		</td>
	                        		<td>
	                        			<input type="number" class="form-control" placeholder="Cantidad de hosts*" id="inpCant" required>
	                        		    <button class="pull-right btn btn-info ter" disabled>TERMINAR</button>
	                        		    <button class="pull-right btn btn-success add">AGREGAR</button>
	                        		    <img src="/static/img/reset.svg" class="pull-right reset">
	                        		</td>
	                        	</tr>
	                        </tbody>
	                    </table>
	                    <strong class="text-danger alertHostTable"></strong>
					</div>
				</div>
			</section>

			<section class="row" id="graficas">
        	
        </section>

			
		</div>

		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dataTables.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/bootstrap-dialog.min.js"></script>
		<script src="/static/js/generales.js"></script>
		<script src="/static/js/vlsm.js"></script>
		<script src="/static/js/loader/jquery.preloader.min.js"></script>
		<script src="/static/js/loader/loader.js"></script>
</body>
</html>